* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: green;
    color: #fff;
}

.inner-headers {
    background-color: #252220;
    width: 100%;
    text-align: center;

}

.navbar {
    background-color: #252220;
    z-index: 100;

}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

.navbar-nav {
    position: relative;
    left: 15%;
}

.act {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);

}

.acts:hover {

    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);


}

h2 span {
    color: #439a0d;
}

.logo-img {
    width: 100px;
    height: 80px;
}

.logo-name {
    display: inline;
    position: absolute;
    color: #fff;
    line-height: 25px;
    margin-top: 15px;
}

.logo-name span {
    display: block;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


.nav-item {
    color: #fff;
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
}


.contact {
    margin-top: 50px;
}

.contact h2 {
    font-weight: 700;
}

h2 span {
    color: #439a0d;
}

.contact p {
    font-weight: 20px;
    font-weight: 500;
    color: #666;
}

.linegreen {
    width: 70px;
    height: 30px;
    display: inline-block;
    border-top: solid 5px green;
    margin-top: 10px;
}

.box-line {
    font-size: 20px;
    font-weight: 500;
    color: #666;

}

.form1 {
    margin-top: 20px;
}

.form1 input {
    width: 49%;
    height: 40px;

}

.form1 label {
    color: #828282;
    font-weight: 500;
}

.email {
    width: 50%;
    margin-bottom: 20px;
    display: contents;

}

.email label {
    position: absolute;
    margin-top: -27px;
}

#sub {
    width: 100%;
}

.sel {
    width: 100%;
    height: 40px;

}

.form1 textarea {
    width: 100%;

}

button,
input,
optgroup,
select,
textarea {
    border: 2px solid #f0f0f0;
}

.send {
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);
    margin-bottom: 40px;

}

.send:hover {
    box-shadow: 0px 0px 5px #439a0d;
}

.send p {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 9px;
    padding-left: 13px;
    padding-right: 13px;
}


.box-img {
    margin-top: 7em;
    width: 100%;
    height: 400px;
}

.box-lines {
    background-color: #2E2E2E;
    color: #fff;
    width: 94%;
    height: 42%;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: -30px;
    padding: 15px;


}

.icons {
    text-align: center;
    padding-top: 13px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);
    margin-top: 12px;
    margin-right: 9px;
    margin-left: 9px;
    border-radius: 5px;

}

li {
    list-style-type: none;
    margin-bottom: 25px;
}

.list-box {
    text-decoration: none;
    color: #fff;

}

.list-box:hover {
    text-decoration: none;
    color: #fff;

}

.list-box h1 {
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
    position: absolute;
    margin-top: 15px;
}

.list-box p {
    font-size: 20px;
    margin-left: 80px;
    margin-top: -30px;
}

@media screen and (max-width: 576px) {

    .box-lines {

        margin-top: 20px;


    }

}


.inner-footer {
    background-color: #252220;
    width: 100%;
    height: 100%;
    text-align: center;

}

.img-footer img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

.img-footer {
    font-weight: 500;
    font-size: 26px;
    margin-left: -48px;
}

.logoimg {
    margin-top: -60px;
    margin-bottom: 1rem;
    font-size: 26px;
}

.para-line {
    margin-top: 30px;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

#orders {
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);
    margin-bottom: 40px;
    border: none;
}

#orders:hover {
    box-shadow: 0px 0px 15px #439a0d;
    transition-property: all;

}

#orders p {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 9px;
    padding-left: 13px;
    padding-right: 13px;
}

.logo-name2 {
    display: inline;
    position: absolute;
    color: #fff;
    line-height: 25px;
    margin-top: 55px;
}

.logo-name2 span {
    display: block;
}


.icones {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 100px;

}

.icones a {
    margin-top: 30px;
    color: #fff;
    padding: 10px;

}

.fb:hover {
    background-color: #4267B2;
    border-radius: 3px;

}

.tw:hover {
    background-color: #1DA1F2;
    border-radius: 3px;
}

.lk:hover {
    background-color: #2867B2;
    border-radius: 3px;
}

.It:hover {
    background-color: #3f729b;
    border-radius: 3px;
}

.Pt:hover {

    background-color: #E60023;
    border-radius: 3px;
}

#lines {

    width: 80%;
    height: 10px;
    display: inline-block;
    border-top: solid 1px #eaeaea;
    margin-top: 10px;
}

#lines p {
    text-align: center;
    margin-top: 0px;
    color: #666;
    margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
    .nav-item {
        z-index: 100;
        text-align: center;
    }

    .navbar {
        background-color: #252220;
        z-index: 100;

    }

    .navbar-nav {
        position: relative;
        left: 0%;
    }

    .navbar-toggler {
        display: block;
        margin-top: -20px;
        z-index: 100;
    }

    .inner-headers {
        width: 100%;

    }

    .act {
        width: 90%;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        background-color: transparent;
        background-image: linear-gradient(90deg, #196730, #439a0d);


    }

    .acts:hover {
        height: 50px;
        border-radius: 10px;
        text-align: center;
        background-color: transparent;
        background-image: linear-gradient(90deg, #196730, #439a0d);


    }



}
