* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: green;
    color: #fff;
}

.inner-headers {
    background-color: #252220;
    width: 100%;
    text-align: center;

}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

.navbar-nav {
    position: relative;
    left: 15%;
}

.act {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);

}

.acts:hover {

    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);


}

.logo-img {
    width: 100px;
    height: 80px;
}

.logo-name {
    display: inline;
    position: absolute;
    color: #fff;
    line-height: 25px;
    margin-top: 15px;
}

.logo-name span {

    display: block;
}
h2 span{
    color: #439a0d; 
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


.nav-item {
    color: #fff;
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
}


#contact {
    margin-top: 50px;
}

.image-head img {
    width: 100%;
    height: 350px;
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 10px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {

    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.image-head:hover .image {
    opacity: 0.8;
}

.image-head:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .image-head img {
        width: 100%;
        height: 400px;
        background-size: cover;
        border-radius: 10px;
    }

}











.inner-footer {
    background-color: #252220;
    width: 100%;
    height: 100%;
    text-align: center;

}

.img-footer img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

.img-footer {
    font-weight: 500;
    font-size: 26px;
    margin-left: -48px;
}

.logoimg {
    margin-top: -60px;
    margin-bottom: 1rem;
    font-size: 26px;
}

.para-line {
    margin-top: 30px;
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

#orders {
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #196730, #439a0d);
    margin-bottom: 40px;
    border: none;
}

#orders:hover {
    box-shadow: 0px 0px 15px #439a0d;
    transition-property: all;

}

#orders p {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 9px;
    padding-left: 13px;
    padding-right: 13px;
}

.logo-name2 {
    display: inline;
    position: absolute;
    color: #fff;
    line-height: 25px;
    margin-top: 55px;
}

.logo-name2 span {
    display: block;
}


.icones {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 100px;

}

.icones a {
    margin-top: 30px;
    color: #fff;
    padding: 10px;

}

.fb:hover {
    background-color: #4267B2;
    border-radius: 3px;

}

.tw:hover {
    background-color: #1DA1F2;
    border-radius: 3px;
}

.lk:hover {
    background-color: #2867B2;
    border-radius: 3px;
}

.It:hover {
    background-color: #3f729b;
    border-radius: 3px;
}

.Pt:hover {

    background-color: #E60023;
    border-radius: 3px;
}

#lines {

    width: 80%;
    height: 10px;
    display: inline-block;
    border-top: solid 1px #eaeaea;
    margin-top: 10px;
}

#lines p {
    text-align: center;
    margin-top: 0px;
    color: #666;
    margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
    .nav-item {
        z-index: 100;
        text-align: center;
    }

    .navbar {
        background-color: #252220;
        z-index: 100;

    }

    .navbar-nav {
        position: relative;
        left: 0%;
    }

    .navbar-toggler {
        display: block;
        margin-top: -20px;
        z-index: 100;
    }

    .inner-headers {
        width: 100%;

    }

    .act {
        width: 90%;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        background-color: transparent;
        background-image: linear-gradient(90deg, #196730, #439a0d);


    }

    .acts:hover {
        height: 50px;
        border-radius: 10px;
        text-align: center;
        background-color: transparent;
        background-image: linear-gradient(90deg, #196730, #439a0d);


    }



}
